<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UWM Class Tracker Courses</title>
</head>
<a href='/courses/create_course'>Create Course</a>

<body>
{% for i in courses %}
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Section Number</th>
            <th>Meeting Times</th>
            <th>Is Lab</th>
        <tr>
            <td>{{ i.course_name }}</td>
            <td>{{ i.course_no }}</td>
            <td>{{ i.section_no }}</td>
            <td>{{ i.meeting_times }}</td>
            <td>{{ i.is_lab }}</td>
        </tr>
        </tr>
    </table>
{% endfor %}
</body>
</html>