<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UWM Class Tracker Create Course</title>
</head>
<body>
<form action="/courses/create_course", method="post">
    {% csrf_token %}
    <table>
        <label for="course_name">Course Name:</label>
        <input type="text" id="course_name" name="course_name"/>
        <label for="course_no">Course No.:</label>
        <input type="text" id="course_no" name="course_no"/>
        <label for="section_no">Section No.:</label>
        <input type="text" id="section_no" name="section_no"/>
        <label for="meeting_times">Meeting Times (e.g. M 3:30-4:50, R 2:00-3:20)</label>
        <input type="text" id="meeting_times" name="meeting_times"/>
        <label for="is_lab">Is Lab:</label>
        <input type="checkbox" id="is_lab" name="is_lab"/>
    </table>
    <input type="submit">
</form>
{{ message }}
</body>
</html>